{% extends "base/base.html" %}
{% block title %}Dashboard · Hermes{% endblock %}

{% block content %}
  <div class="flex min-h-screen bg-gray-100">
    {# ← fixed, full-height sidebar #}
    {% include "dashboard/components/_sidebar.html" %}

    {# ← main panel (header + page content) #}
    <div class="flex-1 flex">
      {% include "dashboard/components/_header.html" %}

      <main class="flex-1 max-w-7xl py-16 px-6 ml-24 mt-10">
        {% block main %}
        {% endblock %}
      </main>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
